<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.springboot.dao.mapper.RegisterValidMapper">
    <resultMap id="BaseResultMap" type="com.spring.springboot.domain.RegisterValid">
        <id column="user_login_id" property="userLoginId" jdbcType="VARCHAR"/>
        <result column="customer_register_id" property="customerRegisterId" jdbcType="VARCHAR"/>
        <result column="register_valid_id" property="registerValidId" jdbcType="VARCHAR"/>
        <result column="first_login_time;" property="firstLoginTime" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="op_time" property="opTime" jdbcType="BIGINT"/>
        <result column="last_ver" property="lastVer" jdbcType="INTEGER"/>
        <result column="is_valid" property="isValid" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
        user_login_id, customer_register_id, register_valid_id, first_login_time,
        create_time, op_time, last_ver, is_valid
    </sql>

    <!-- 插入一条信息 -->
    <insert id="insert" parameterType="com.dfire.soa.consumer.fm.bo.RegisterValid">
        INSERT INTO
        register_valid(user_login_id, customer_register_id, register_valid_id, first_login_time,
                  create_time, op_time, last_ver, is_valid)
        VALUES ( #{user_login_id,jdbcType=VARCHER}, #{customerRegisterId,jdbcType=VARCHER},
                  #{register_valid_id,jdbcType=VARCHER}, #{first_login_time,jdbcType=BIGINT},
                  #{createTime,jdbcType=BIGINT}, #{opTime,jdbcType=BIGINT},
                  #{lastVer,jdbcType=INTEGER}, #{isValid,jdbcType=SMALLINT});
    </insert>

    <!-- 根据 user_login_id 查询 first_login_time-->
    <select id="queryByUserLoginId" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT
        first_login_time
        FROM register_valid
        WHERE user_login_id = #{userLoginId, jdbcType=VARCHER}
    </select>
</mapper>