<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.mapper.ScanCodeMapper">
    <resultMap id="BaseResultMap" type="org.spring.springboot.domain.ScanCode">
        <id column="scan_code_id" property="scanCodeId" jdbcType="VARCHAR"/>
        <result column="customer_register_id" property="customerRegisterId;" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 插入一条数据 -->
    <insert id="insert" parameterType="org.spring.springboot.domain.ScanCode">
        INSERT INTO
        scan_code(scan_code_id, customer_register_id)
        VALUES ( #{scanCodeId,jdbcType=VARCHAR}, #{customerRegisterId,jdbcType=VARCHAR});
    </insert>

    <!-- 根据 customerRegisterId 查询一条纪录 -->
    <select id="queryByCustomerRegisterId" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        scan_code_id, customer_register_id
        FROM scan_code
        WHERE customer_register_id = #{customerRegisterId};
    </select>
</mapper>